.support{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.supporttext{
    width: 50%;
    margin-left: 10%;
}
.supporttext h1 {
    color: #534437;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.supporttext p{
   width: 50%;
   color: sienna;
   
   margin-top: 15px;
   font-size: larger;
   word-spacing: 5px;
   line-height: 1.4;
}
.supportimage{
width: 100%;
height: auto;
margin-top: 25px;
}
.imagesupport{
height: 450px;

}